<p>form-tache works!</p>

<div class="my-4">
  <a routerLink="/list" style="margin-left: 10px; margin-top: 20px;"><button type="button" class="btn btn-primary btn-sm">list taches</button> </a>
  <a routerLink="/form" style="margin-left: 10px; margin-top: 20px;"><button type="button" class="btn btn-primary btn-sm">create tache</button> </a>
</div>

<div style="width: 1000px; margin-left: 500px;">
  <form #form  (submit)="onSubmit(form)" >
    <div class="form-row">
      
      
     
      <div class="form-floating col-md-6 mt-2">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"   name="description"  [(ngModel)]="tache!.description" ></textarea>
        <label for="floatingTextarea">description</label>
      </div>
      <div class="form-group col-md-6 mt-3">
        <select class="form-select " aria-label="Default select example"  name="status"  [(ngModel)]="tache!.status"  >
          <option selected>Open this select menu</option>
          <option value="à faire">à faire</option>
          <option value="en cours">en cours</option>
          <option value="terminée">terminée</option>
        </select>
      </div>
      
    </div>
   
    
 
    <button  type="submit"  class="btn btn-primary mt-4 " style="margin-left: 150px; width: 200px;" >add</button>
  </form>





</div>
