<p>details-tache works!</p>
<div class="my-4">
  <a routerLink="/list"   style="margin-left: 10px; margin-top: 20px;"><button type="button" class="btn btn-primary btn-sm">list taches</button> </a>
  <a routerLink="/form" style="margin-left: 10px; margin-top: 20px;"><button type="button" class="btn btn-primary btn-sm">create tache</button> </a>
</div>
<div class="card" style="width: 30rem; height: 10rem; margin-left: 600px; margin-top: 300px;">
    <div class="card-body">
      <h4 class="card-title">tache {{tache.id}} </h4>
      <p ></p>
      <h5 class="card-title">date de Creation : {{tache.dateCreation | date: 'dd/MM/yyyy'}} </h5>

      <h6 class="card-subtitle mb-2 text-body-secondary mt-3">description :</h6>
      <p class="card-text" >{{tache.description}}</p>
    </div>
  </div>
